body {
  margin: 2.5%;
}

.banner-photo {
  height: 30%;
  width: 100%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
}

.login_button {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

.body-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 660px){

.body-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
}
