/* header */

.headtext {
  margin: 1%;
}

.banner {
  background-color: black;
  text-align: center;
}

.presentation {
  border-style: solid;
  border-radius: 5px;
  border-color: green
}

.banner-photo {
  height: 30%;
  width: 100%;
}

/* Content */

.content {
  margin: 2.5%;
}
.body-photo {
  border-radius: 5px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 5px;
}

.login_button {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

.body-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* New */

.jumbotron {
  padding: 2.5%;
  border-radius: 5px;
}

.btn-primary {
  background-color: green;
}

/* Member Display */

#member {
  border-style: solid;
  border-radius: 5px;
  border-color: green;
  padding: 2.5%;
  margin: 2.5%;
}

@media screen and (min-width: 660px){

.body-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
}
