{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
  <header>
    <h1 class="brandheader">
        Community CRM
        <small> A CRM designed to drive engagement. </small>
    </h1>
      <br>
      <div class="navframe">
        <ul class="nav nav-pills">
          <li role="presentation" class="presentation"> <a href="/"> Home </a></li>
          <li role="presentation" class="presentation"><a href="/new"> Add Members </a></li>
          <li role="presentation" class="presentation"><a href="/display"> Full Database </a></li>
          <li role="presentation" class="presentation"><a href="/searchpage"> Search </a></li>
        </ul>
      </div>
  </header>
  <div class="content">
