{% load staticfiles %}

{% include 'communitycrmapp/header.html' %}
<br>
<p>
  Describe the project and why it matters
</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h4> Access Community Data </h4>
      <div class="button" id="signup">
        Sign Up
      </div>
    </div>
    <div class="col-xs-6">
      <h4> Already a Member?</h4>
      <div class="button">
        Sign In
      </div>
    </div>
  </div>
</div>

{% include 'communitycrmapp/footer.html' %}
