<div id="member">
    <h4> Member </h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p><h5> Name:</h5> {{member.name}}</p>
          <p> Engagment Score: {{member.engagement_score}}
          <p> Meetups ID Number: {{member.meetupid}}</p>
          <p> E-mail: {{member.email}}</p>
          <p> Address: {{member.address}}</p>
          <p> Meetup: {{member.meetuplink}}</p>
        </div>
        <div class="col-sm-4">
          <p> Volunteer: {{member.volunteer}}</p>
          <p> Host: {{member.host}}</p><p>{{member.eventshostedname}}</p>
          <p> Open Heart Brigade: {{member.ohb}}</p><p>{{member.ohbcontributions}}</p>
          <p> Launch Team: {{member.launchteam}}</p><p>{{member.launchteamcontributions}}</p>
          <p> Facebook: {{member.fbgroupmember}}</p>
          <p> Facebook: {{member.fbpagelink}}</p>
          <p> Donation: {{member.donationtotalammount}}</p>
        </div>
        <div class="col-sm-4">
          <p> Interests:</p>
            {% for interest in meetups %}
              <p>{{interest}}</p>
            {% endfor %}
            <p> ID: {{member.id}} </p>
        </div>
      </div>
    </div>
    <br>
</div>
